.container {
  height: 70vh;
  width: 100vw;

  .login-card {
    box-sizing: border-box;
    width: 90vw;
    min-width: 320px;
    max-width: 420px;

    .login-field {
    }

    .login-button {
      margin: 16px 0px 0px 0px;
    }
  }
}
