<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-card">
    <mat-card-title class="login-title" i18n="@@login">Login </mat-card-title>
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="submitForm()"
        fxLayout="column"
        fxLayoutAlign="start stretch"
      >
        <mat-form-field class="login-field">
          <input
            matInput
            i18n-placeholder
            placeholder="Username"
            id="username"
            name="username"
            formControlName="username"
            autocomplete="username"
            type="text"
          />
        </mat-form-field>
        <app-field-errors
          [field]="loginForm.get('username')"
        ></app-field-errors>
        <mat-form-field class="login-field">
          <input
            matInput
            i18n-placeholder
            placeholder="Password"
            id="password"
            name="password"
            formControlName="password"
            autocomplete="password"
            type="password"
          />
        </mat-form-field>
        <app-field-errors
          [field]="loginForm.get('password')"
        ></app-field-errors>

        <mat-card class="custom" *ngIf="(hasLogginError() | async)">
          <mat-card-header class="custom">
            <mat-icon color="warn">error</mat-icon>
            <h3 class="message">{{ hasLogginError() | async }}</h3>
          </mat-card-header>
          <mat-card-content class="custom">
            <p>
              Controleer je gebruikersnaam en je wachtwoord en probeer het nog
              eens (maximaal 7 keer).
            </p>
          </mat-card-content>
        </mat-card>

        <button
          class="login-button"
          mat-raised-button
          type="submit"
          value="Submit"
          color="primary"
          [disabled]="enableSubmit()"
          i18n="@@login"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
