.search-box {
  margin: 0 0 0 12px;
}
.list {
  width: 90%;
  margin: auto;

  .full-width-table {
    width: 100%;

    td {
      vertical-align: top;
      padding: 8px;
    }

    .description {
      width: 50%;
    }
  }
}
