<div class="mat-elevation-z8 list">
  <button mat-raised-button (click)="upsertCategory(null)">
    {{ 'ADD' | translate }}
  </button>
  <form [formGroup]="searchForm">
    <mat-form-field class="search-box">
      <input
        type="text"
        formControlName="searchInput"
        matInput
        placeholder="{{'SEARCH' | translate }}"
      />
    </mat-form-field>

    <mat-slide-toggle formControlName="selectVisibility">
      select visible
    </mat-slide-toggle>
  </form>
  <table
    mat-table
    class="full-width-table"
    [dataSource]="categoryDataSource"
    matSort
    aria-label="Categories"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disableClear]="true"
      >
        #
      </th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disableClear]="true"
      >
        {{ 'NAME' | translate }}
      </th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disableClear]="true"
        class="description"
      >
        {{ 'DESCRIPTION' | translate }}
      </th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <!-- Visible Column -->
    <ng-container matColumnDef="visible">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disableClear]="true"
      >
        {{ 'VISIBLE' | translate }}
      </th>
      <td mat-cell *matCellDef="let row">
        <i class="material-icons"> {{ showBoolean(row.visible) }} </i>
      </td>
    </ng-container>

    <!-- Add items Column -->
    <ng-container matColumnDef="items">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button (click)="updateItems($event, row)">
          {{ 'ITEMS' | translate }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="upsertCategory(row)"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="categoryDataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 50, 100]"
  >
  </mat-paginator>
</div>
