<div class="mat-elevation-z8 list">
  <button mat-raised-button (click)="upsertCategoryItems(null)">
    {{ 'ADD' | translate }}
  </button>
  <form [formGroup]="selectForm">
    <mat-form-field>
      <mat-select
        placeholder="Period"
        formControlName="selectPeriod"
        i18n-placeholder
      >
        <mat-option *ngFor="let option of options" [value]="option.value" i18n>
          { option.viewValue, select, PERIOD.PRESENT {Select Present} PERIOD.ALL
          {Select All} PERIOD.FUTURE {Select Future} PERIOD.PAST {Select Past} }
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <table
    mat-table
    class="full-width-table"
    [dataSource]="categoryitemsDataSource"
    matSort
    aria-label="Elements"
  >
    <!-- CategoryId Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef [style.display]="'none'"></th>
      <td mat-cell *matCellDef="let row" [style.display]="'none'">
        {{ row.category }}
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef [style.display]="'none'"></th>
      <td mat-cell *matCellDef="let row" [style.display]="'none'">
        {{ row.id }}
      </td>
    </ng-container>

    <!-- Sequence Column -->
    <ng-container matColumnDef="sequence">
      <th mat-header-cell *matHeaderCellDef [style.display]="'none'">Seq</th>
      <td mat-cell *matCellDef="let row" [style.display]="'none'">
        {{ row.sequence }}
      </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let row">{{ row.code }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startdate">
      <th mat-header-cell *matHeaderCellDef>Start date</th>
      <td mat-cell *matCellDef="let row">{{ row.startdate }}</td>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="enddate">
      <th mat-header-cell *matHeaderCellDef>End date</th>
      <td mat-cell *matCellDef="let row">{{ row.enddate }}</td>
    </ng-container>

    <!-- Add items Column -->
    <ng-container matColumnDef="up">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          (click)="up($event, row, categoryitemsDataSource.data)"
        >
          <i class="material-icons"> arrow_upward </i>
        </button>
      </td>
    </ng-container>

    <!-- Add items Column -->
    <ng-container matColumnDef="down">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          (click)="down($event, row, categoryitemsDataSource.data)"
        >
          <i class="material-icons"> arrow_downward </i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="upsertCategoryItems(row)"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="categoryitemsDataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]"
  >
  </mat-paginator>
</div>
