<h2 mat-dialog-title>{{ 'CATEGORY_DIALOG' | translate }}</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content">
  <input type="hidden" formControlName="id" />
  <mat-form-field>
    <input matInput placeholder="Category Name" formControlName="name" />
  </mat-form-field>
  <app-field-errors [field]="form.get('name')"></app-field-errors>
  <mat-form-field>
    <textarea
      matInput
      placeholder="Category Description"
      formControlName="description"
    >
    </textarea>
  </mat-form-field>
  <app-field-errors [field]="form.get('description')"></app-field-errors>
  <mat-slide-toggle formControlName="visible">{{
    'VISIBLE' | translate
  }}</mat-slide-toggle>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>

  <button
    class="mat-raised-button mat-primary"
    (click)="save()"
    [disabled]="enableSave()"
  >
    Save
  </button>
</mat-dialog-actions>
