<app-layout>
  <app-sidenav [open]="sidenavOpen$ | async" (closeMenu)="closeSidenav()">
    <app-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" [routerLink]="['/']" icon="book" hint="View your book collection">
      Cycles
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" [routerLink]="['/question-types']" icon="book"
      hint="View your book collection">
      Question types
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" [routerLink]="['/categories']" icon="book" hint="View your book collection">
      Categories
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn$ | async)">
      Sign In
    </app-nav-item>
    <app-nav-item (navigate)="logout()" *ngIf="loggedIn$ | async">
      Sign Out
    </app-nav-item>
  </app-sidenav>
  <app-toolbar (openSidenav)="openSidenav()" (openSettings)="openSettings()">
    TEST
  </app-toolbar>
  <router-outlet></router-outlet>
</app-layout>