@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$dark-primary: mat-palette($mat-blue-grey, 700);
$dark-accent: mat-palette($mat-indigo, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

// $my-app-primary: mat-palette($mat-blue-grey);
// $my-app-accent: mat-palette($mat-pink, 500, 900, A100);
// $my-app-warn: mat-palette($mat-deep-orange);

// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// @include angular-material-theme($my-app-theme);
