<div
  *ngFor="let msg of getFieldErrorMessages(); let last = last"
  [ngClass]="{ last: last }"
>
  <mat-icon color="warn">error</mat-icon>
  <span class="message" i18n
    >{ msg, select, ERRORS.REQUIRED {This field is required} ERRORS.EMAIL {This
    is not a valid email} }</span
  >
</div>
