<mat-sidenav #sidenav [opened]="open" 
                      (keydown.escape)="sidenav.close()"
                      (closedStart)="closeMenu.emit()" 
                      disableClose>
  <mat-nav-list>
    <ng-content></ng-content>
  </mat-nav-list>
</mat-sidenav>
