<mat-toolbar color="primary">
  <button mat-icon-button (click)="openSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-content></ng-content>
  <button mat-icon-button (click)="openSettings.emit()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>