<h2 mat-dialog-title>{{ 'CATEGORY_ITEM_DIALOG' | translate }}</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content">
  <input type="hidden" formControlName="id" />
  <input type="hidden" formControlName="category" />
  <input type="hidden" formControlName="sequence" value="0" />

  <mat-form-field>
    <input matInput placeholder="Categoryitem code" formControlName="code" />
  </mat-form-field>
  <app-field-errors [field]="form.get('code')"></app-field-errors>

  <mat-form-field>
    <input matInput placeholder="Categoryitem name" formControlName="name" />
  </mat-form-field>
  <app-field-errors [field]="form.get('name')"></app-field-errors>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="startdatepicker"
      formControlName="startdate"
      placeholder="Choose a start date"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="startdatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #startdatepicker></mat-datepicker>
  </mat-form-field>
  <app-field-errors [field]="form.get('startdate')"></app-field-errors>

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="enddatepicker"
      formControlName="enddate"
      placeholder="Choose an end date"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="enddatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #enddatepicker></mat-datepicker>
  </mat-form-field>
  <app-field-errors [field]="form.get('enddate')"></app-field-errors>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    {{ 'CLOSE' | translate }}
  </button>

  <button
    class="mat-raised-button mat-primary"
    (click)="save()"
    [disabled]="enableSave()"
  >
    {{ 'SAVE' | translate }}
  </button>
</mat-dialog-actions>
